<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.oxi.tsfirewall</string>
  <key>ProgramArguments</key><array><string>__BIN__</string></array>
  <key>RunAtLoad</key><true/>
  <key>WatchPaths</key>
  <array>
    <string>/opt/homebrew/Cellar/tailscale</string>
    <string>/usr/local/sbin/tailscaled</string>
  </array>
</dict>
</plist>
